@{
  Layout = "_Layout";
}

@model SweetShop.Models.Treat

<h2>Add a flavor profile for : @Html.DisplayFor(model => model.Name)</h2>


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-outline-primary" />
}

<p>@Html.ActionLink("Back to treat list", "Index")</p>