@{
  Layout = "_Layout";
}

<div class="homePage">
<h1>Pierre's Sweet Treats</h1>
<h5>Please @Html.ActionLink("Sign in/Sign up", "Index", "Account") to view the goods</h5><br>
<hr>
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("View account", "Index", "Account")</p>
  <p>@Html.ActionLink("See all treats", "Index", "Treats", new {@class="link"})</p>
  <p>@Html.ActionLink("See all flavors", "Index", "Flavors", new {@class="link"})</p>
}
else
{
  <p>@Html.ActionLink("Sign in/Sign up", "Index", "Account")</p>
}
</div>